contacts
{

    display: flex;
    flex-direction: column;
    align-content:center ;
    width: 50%;
    text-align: center;


}
*
{
    display: block;
}

employee
{
    display: block;
    border: solid 3px black;
    margin: 10px;

}
address
{
    color: blue;
}

name
{
    color: blueviolet;
}
phone
{
    color: red;
}

